!!!
%html
  %head
    %title Datagram
    %link(rel="stylesheet" type="text/css" href="/style.css")
    %link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet")
  %body
    %form(action="/queries" method="post")
      %textarea(name="content")=@sql
      %button.btn.btn-large.btn-primary(type="submit") Run Query
      %button.btn.btn-success Save Query

    -if @ds
      .query-results
        %table.table.table-striped
          %thead
            -columns = @ds.columns.each do |col|
              %th=col
          %tbody
            -@ds.each do |row|
              %tr
                -row.each do |col, data|
                  %td=data
