!!!
%html
  %head
    %title Datagram
    %link(rel="stylesheet" type="text/css" href="/style.css")
    %style
      :plain
        #chart_container {
                position: relative;
                font-family: Arial, Helvetica, sans-serif;
        }
        #chart {
                position: relative;
                left: 40px;
        }
        #y_axis {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 40px;
        }
  %body
    %form(action="/" method="get")
      %textarea(name="sql" cols="100" rows="5")=@sql
      %br
      %button(type="submit") Run Query
    -if @ds
      %table
        %tbody
          -@ds.each do |row|
            %tr
              -row.each do |col, data|
                %td(class="#{col}")=data