!!!
%html
  %head
    %title Datagram
    %link(href="/style.css" rel="stylesheet" type="text/css")
    %link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css")
    %link(href="/font-awesome.css" rel="stylesheet" type="text/css")

    %script(src="jquery.js" type='text/javascript' charset='utf-8')
    %script(src="ace/ace.js" type="text/javascript" charset="utf-8")
    %script(src="ace/theme-tomorrow.js" type="text/javascript" charset="utf-8")
    %script(src="ace/mode-sql.js" type="text/javascript" charset="utf-8")
    %script(src="ace/mode-javascript.js" type="text/javascript" charset="utf-8")
  %body
    =yield
