!!!
%html
  %head
    %title Show
    %link(rel="stylesheet" type="text/css" href="/style.css")
    %link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet")
  %body
    %p=@query.values[:content]
    %form(action="/queries/#{@query.values[:id]}" method="post")
      %input(type='hidden' name="_method" value="delete")
      %button.btn.btn-danger(type='submit') Delete Query
